*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

header{
   background-color: #aaaaaa;
}

body{
   background-color: #dddddd;
}

footer{
   position: absolute;
   width: 100%;
   padding: 1px 20px;
   bottom: 0;
   z-index: 10;
   background-color: #aaaaaa;
}

column{
   float: left;
}